body {
    font-family: 'Montserrat';
    background-color: #ebd2d2;
    max-width: 1280px;
    margin: 0 auto;
}

.nav-header {
    text-align: center;
    padding: 0;
    margin: 32px 0;
}

.nav-list-item {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin: 32px;
    text-transform: uppercase;
    color: #FF0000;
    text-decoration: none;
}

.nav-list-link {
    display: inline;
}


.image {
    display: block;
    margin: 0 auto;
}

.main-content {
    display: block;
    text-align: center;
}

.article-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin: 48px 0 38px 0;
}

.article-content {
    max-width: 1145px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 0 auto 28px;
}

.button {
    color: #FFFFFF;
    background: #FF0000;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    display: block;
    margin: 42px auto;
    font-size: 12px;
    line-height: 12px;
    padding: 20px 42px;
    border-radius: 4px;
    border: none;
}

.footer {
    display: block;
    text-align: center;
    max-width: 1070px;
    margin: 40px auto 29px;
    padding: 40px 0 0;
}

.footer-information {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
    letter-spacing: 2.4px;
    color: #373737;
}
